actionlib==1.11.16
angles==1.9.12
arbotix-python==0.10.0
base-local-planner==1.14.8
bondpy==1.8.3
camera-calibration-parsers==1.11.13
capabilities==0.2.0
catkin==0.7.20
catkin-pkg==0.4.22
cloudpickle==1.3.0
controller-manager==0.13.5
controller-manager-msgs==0.13.5
controller-manager-tests==0.13.5
create-driver==2.3.1
create-node==2.3.1
cv-bridge==1.12.8
cycler==0.10.0
dataclasses==0.7
decorator==4.4.2
diagnostic-updater==1.9.3
distro==1.5.0
docutils==0.16
dynamic-reconfigure==1.5.50
dynamixel-controllers==0.4.1
dynamixel-driver==0.4.1
dynamixel-sdk==3.7.31
fetch-calibration==0.7.15
future==0.18.2
gazebo-plugins==2.5.20
gazebo-ros==2.5.20
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.14
Geometry==0.0.23
gym==0.17.1
image-geometry==1.12.8
interactive-markers==1.11.5
joblib==0.16.0
joint-state-publisher==1.12.15
joint-state-publisher-gui==1.12.15
kiwisolver==1.2.0
laser-geometry==1.6.5
matplotlib==3.2.1
mbf-abstract-nav==0.3.2
message-filters==1.12.16
moveit-commander==0.9.18
moveit-python==0.3.4
moveit-ros-planning-interface==0.9.18
moveit-ros-visualization==0.9.18
numpy==1.18.3
opencv-python==4.2.0.34
openni2-launch==0.4.2
Pillow==7.1.2
pluginlib==1.11.3
pr2-controller-manager==1.8.17
PyContracts==1.8.14
PyGeometry==1.5.7
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.3.7
PyYAML==5.3.1
pyzmq==19.0.0
qt-gui==0.3.17
qt-gui-cpp==0.3.17
resource-retriever==1.12.6
robot-controllers==0.5.2
rocon-app-manager==0.9.1
rocon-app-utilities==0.9.1
rocon-apps==0.9.1
rocon-console==0.3.2
rocon-ebnf==0.3.2
rocon-gateway==0.8.1
rocon-gateway-utils==0.8.1
rocon-hub==0.8.1
rocon-hub-client==0.8.1
rocon-interactions==0.3.2
rocon-master-info==0.3.2
rocon-python-comms==0.3.2
rocon-python-redis==0.3.2
rocon-python-utils==0.3.2
rocon-python-wifi==0.3.2
rocon-semantic-version==0.3.2
rocon-uri==0.3.2
rosbag==1.12.16
rosclean==1.14.6
rosgraph==1.12.16
roslaunch==1.12.16
roslib==1.14.6
roslint==0.11.0
roslz4==1.12.16
rosmaster==1.12.16
rosmsg==1.12.16
rosnode==1.12.16
rosparam==1.12.16
rospkg==1.2.8
rospy==1.12.16
rospy-message-converter==0.5.3
rosservice==1.12.16
rostest==1.12.16
rostopic==1.12.16
rosunit==1.14.6
roswtf==1.12.16
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.16
rqt-joint-trajectory-controller==0.13.6
rviz==1.12.17
scikit-learn==0.23.2
scipy==1.4.1
sensor-msgs==1.12.7
six==1.14.0
sklearn==0.0
smclib==1.8.3
srdfdom==0.4.2
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
threadpoolctl==2.1.0
topic-tools==1.12.16
torch==1.2.0
torchvision==0.4.0
unique-id==1.0.5
urdfdom-py==0.3.3
xacro==1.11.3
zmq==0.0.0
